@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital@1&family=Square+Peg&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;
} 

/* arranca header */
.encabezado{
    background-color: #a6d8be;
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    display: inline-block;
}
.encabezado .barra{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.encabezado .barra .log{
    display: flex;
    justify-content: space-between;
}
.encabezado .barra .log span{
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

header div img{
    height: 80px;
    width: auto;
}
.encabezado .barra .menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}
.encabezado .barra .menuResponsive{
    display:none;
}

.encabezado .barra .menu ul li{
    display: inline;
    padding-right: 10px;
}

header nav ul li a:hover{
    background-color: rgb(244, 252, 251);
    transition: all 0.8s;
}

.encabezado .barra .menu ul a{
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #333;
    padding: 2px;
}

.responsiveItem{
    text-decoration: none;
    padding: 2px;
    background-color: black;
    opacity: 80%;
}
.responsiveItem a{
    text-decoration: none;
    color: white;
}
.responsiveLi {
    list-style: none;
}
/* finaliza header */

/* inicia home */
body main{
    background-color: #8d8477;
    height: calc(100vh);
    width: 100%;
}
.euge{
    display: inline-block;
    height: 80%;
    width: 30%;
    margin: 100px 0px 50px 200px;
    padding-bottom: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    text-align: justify;
}
.index .doc{
    float: right;
    height: 60%;
    width: auto;
    margin: 50px 100px;
    border-radius: 10px;
}
/* finaliza home */

/* arranca footer */
footer .copy{
    background-color: #a6d8be;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}
/* finaliza footer */

/* arranca faqs  */

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faqs h3{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}
.consulta{
    display: flex;
    flex-direction: column;
}
.consulta h4{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
/* finaliza faqs */

/* arranca login */
.login{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
}
/* finaliza login */

/* arranca contacto */

.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}

.redes{
    width: 50%;
    
}

.icono{
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 20px;
}
.redes .mapa2{
    display:none;
}
.mapa1{
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: end; */
}

.mapa1 iframe{
    width: 400px;
    height: 400px;
}
/* finaliza contacto */

/* arranca servicios */
.servs{
    display: flex;
}

.servs h3{
    text-decoration: underline;
    font-family: 'Playfair Display', serif;
}

.servs ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding-top: 100px;
    }
.servs p{
    padding: 0px 300px;
    text-decoration: none;
}

/* finaliza servicios */

/* arranca nosotros */
.eugenia{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around ;
    padding-top: 100px;
}
.eugenia img{
    display: flex;
    justify-content: left;
    border-radius: 50px;
}
.eugenia p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}
.chabon{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around ;
    flex-direction: row-reverse;
}
.chabon p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}

.chabon img{
    display: flex;
    justify-content: left;
    border-radius: 50px;
}
/* finaliza nosotros*/


/* arranca media query */

/* arranca mobile */

@media screen and (min-width: 320px) and (max-width: 600px){

/* arranca header*/

    .encabezado .barra .log span{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 120px;

        
    }
    .encabezado .barra .menu{
        display: none
    }
    .encabezado .barra .menuResponsive{
        display: block;
        
    }
    .responsiveButton{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        padding: 40px 20px;
    }
    .responsiveLi{
        position: relative;
        top: -1000px;
        
    }
    .menuResponsive:hover .responsiveLi{
        top: 0;
        transition: all 1s;
    }
    /* finaliza header */
    /* arranca home */
    .index{
        height: 1000px;
        display: flex;
        flex-direction: column-reverse;
    }
    .index .euge{
        width: 75%;
        text-align: center;
        margin: 0px 100px 50px 50px;
    }
    .index .doc{
        height: auto;
        width: 200px;
    }
    /* finaliza home */

    /* arranca servicios */
    body .servicios{
        height: 1000px; 
        
    } 
    .servs{
        display: flex;
        justify-content: center;
        width: 100hv;
        font-size: 15px;

    }

    .servs ul p{
        padding: 10px;
        width: 70%;
        margin-right: 10px;
        margin-left: 10px;
    }

    /* finaliza servicios */

    /* arranca nosotros */
    .nosotros{
        height: 1000px;
    }
    .nosotros .eugenia img{
    height: 150px;
    width: auto;
    }
    .nosotros .eugenia p{
        font-size: 25px;
        margin-top:-50px;
    }
    .nosotros .chabon{
        margin: 10px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around 10px;

    }
    .nosotros .chabon img{
        height:auto;
        width: 250px;

    }
    .nosotros .chabon p{
        font-size: 25px;
        width: 100%;
        margin: -50px 10px 10px 20px;
    }
    /* finaliza nosotros */
    
    /* arranca contacto */
    .cont{
        height: 600px;
    }
    .mapa1{
        display: none;
    }
    .redes .mapa2{
        display: flex;
        
    }
    .contacto .redes{
        display: grid;
        height: 90%;
        width: 300px;
        grid-template-areas:
        "logo1 logo2 logo3"
        "mapa2 mapa2 mapa2";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
        
    }
    .logo1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 12px;
        }

    .logo2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 12px;
    }
    .logo3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 12px;
    }
    .mapa2 {
        grid-column: 1/3;
    }
    .mapa2 iframe{
        width: auto;
    }
    /* finaliza contacto  */

    /* arranca faqs */
    .preg{ 
        height: 800px;
    }
    dd{
        margin-left: 20px;
        margin-right: 20px;
    }
    /* finaliza faqs */
    
    /* arranca footer */
    footer{
        font-size: 12px;
    }
    /* finaliza footer */
    /* finaliza mobile */}